.container {
    text-align: center;
    margin-top: 5px;
}

.calculator {
    display: inline-block;
    background-color: #9df0b2;
    border-radius: 10px;
    padding: 3px;
}

table {
    margin: auto;
}

input {
    font-size: 30px;
    border-radius: 10px;
    background-color: #e4eec1;
}

button {
    font-size: 30px;
    background-color: rgb(190, 255, 255);
    color: rgb(0, 0, 0);
    width: 91px;
    height: 47px;
    border-radius: 10px;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    color: #9df0b2;
    text-shadow: 2px 2px #e4eec1;
}